<plugin id="VConfig">
<extension id="VConfig" implements="::fwData::location::SingleFile">
		
	<object id="VImage" type="::fwData::location::SingleFile">

		<service type="::guiQt::aspect::IAspect" implementation="::guiQt::aspect::DefaultAspect" autoComChannel="no" >
		 	<name>Viewer</name>
			<!-- premiere declarer sera pris en compte et pas l autre -->
     	<view uid="myDefaultView" autoStart="yes" />
		</service>

		<service uid="menuBar" type="::guiQt::aspect::IMenuBar" implementation="::guiQt::aspect::DefaultMenuBar" autoComChannel="no" >
			<menus>
  	   	<menu uid="menu_File" />
      </menus>
			<menus>
  	   	<menu uid="menu_Edit" />
      </menus>  
		</service> 

    <service uid="myDefaultView" type="::guiQt::view::IView" implementation="::guiQt::view::DefaultView" autoComChannel="no" >
    	<views>
     	  <view uid="myRenderingTuto1" autoStart="yes" />
     	</views>
    </service>

		<service name="File" uid="menu_File" type="::guiQt::aspect::IMenu" implementation="::guiQt::aspect::DefaultMenu" autoComChannel="no" >
			<action uid="action_openFile"/>   
			<action uid="action_quit"/>
			<action uid="action_full"/>
		</service>

		<service name="Edit" uid="menu_Edit" type="::guiQt::aspect::IMenu" implementation="::guiQt::aspect::DefaultMenu" autoComChannel="no" >
			<action uid="action_quitEdit"/>
			<action uid="action_openAnotherFile"/>   
	  </service> 

		<service uid="action_openFile" name="OpenFile" type="::guiQt::action::IAction" implementation="::guiQt::action::StarterActionService"  autoComChannel="no" >
			 <start uid="myReaderPathFile"/>
		</service>   
		
    <service uid="action_quit" specialAction="QUIT"  name="Quit" type="::guiQt::action::IAction" implementation="::guiQt::action::QuitAction" autoComChannel="no" />

    <service uid="action_full"   name="Full" type="::guiQt::action::IAction" implementation="::guiQt::action::FullScreenActionService" autoComChannel="no" />

	 	<service uid="action_openAnotherFile" name="OpenAnotherFile" type="::guiQt::action::IAction" implementation="::guiQt::action::StarterActionService"  autoComChannel="no" >
			<start uid="fileSelector"/>
		</service>  

    <service uid="action_quitEdit" specialAction="QUIT"  name="QuitEdit" type="::guiQt::action::IAction" implementation="::guiQt::action::QuitAction" autoComChannel="no" />

		<service uid="ToolBar" type="::guiQt::aspect::IToolBar" implementation="::guiQt::aspect::DefaultToolBar" autoComChannel="no" >
  	</service>

    <service uid="myReaderPathFile" type="::guiQt::editor::IEditor" implementation="::ioQt::FileSelector"  autoComChannel="no" />
    <service uid="fileSelector" type="::guiQt::editor::IEditor" implementation="::ioQt::FileSelector"  autoComChannel="no" />

		<service uid="myRenderingTuto1"  type="::guiQt::editor::IEditor" implementation="::visuVtkQt::vtkQtImage" autoComChannel="yes" />

	
  <!--  <service   type="::guiQt::editor::IEditor" implementation="::visuVtkQt::vtkQtImage" />  -->

		
		<start type="::guiQt::aspect::IAspect" />
 		<start type="::guiQt::aspect::IMenuBar" />
		<start type="::guiQt::aspect::IMenu" />
		<start type="::guiQt::view::IView" />
		<start uid="ToolBar" />

		<stop uid="ToolBar" />
		<stop type="::guiQt::aspect::IMenu" />
		<stop type="::guiQt::aspect::IMenuBar" />
		<stop type="::guiQt::aspect::IAspect" />

	</object>
</extension>

</plugin>
