<plugin class="::guiQt::Plugin" id="guiQt">

    <library name="guiQt"/>

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>

    
    <point id="::guiQt::aspect::IAspect">
        <implements>::fwServices::IService</implements>
    </point>
    
    <point id="::guiQt::aspect::IMenu">
        <implements>::fwServices::IService</implements>
    </point>

    
    <point id="::guiQt::view::IView">
        <implements>::fwServices::IService</implements>
    </point>
    
    <point id="::guiQt::aspect::DefaultMenu">
        <implements>::gui::aspect::IMenu</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
    <point id="::guiQt::aspect::DefaultAspect">
        <implements>::guiQt::aspect::IAspect</implements>
        <implements>::fwTools::Object</implements>
    </point>
    
    <point id="::guiQt::view::DefaultView">
        <implements>::guiQt::view::IView</implements>
        <implements>::fwTools::Object</implements>
    </point>
  
</plugin>
