<plugin id="ioQVTK" class="::ioQVTK::Plugin" >
    <library name="ioQVTK" />

    <requirement id="io" />
    

    <!--    REGISTER_SERVICE( ::io::IReader , ::ioVTK::ImageReaderService , ::fwData::Image ) ;-->
    <point id="::ioQVTK::ImageReaderService">
        <implements>::io::IReader</implements>
        <implements>::fwData::Image</implements>
    </point>   
    
     <point id="::ioVTK::ImageWriterService">
        <implements>::io::IWriter</implements>
        <implements>::fwData::Image</implements>
    </point>  
    
     <point id="::ioQVTK::MeshReaderService" >
        <implements>::io::IReader</implements>
        <implements>::fwData::TriangularMesh</implements>
    </point>
    
       <point id="::ioVTK::MeshWriterService" >
        <implements>::io::IWriter</implements>
        <implements>::fwData::TriangularMesh</implements>
    </point>
    
    <point id="::ioVTK::VtkPatientDBReaderService" >
        <implements>::io::IReader</implements>
        <implements>::fwData::PatientDB</implements>
    </point>    
    
    <extension implements="::ioVTK::ImageWriterService" >
        <info text="VTK Image Writer (VTK)"/>
    </extension>
    
    <extension implements="::ioVTK::MeshWriterService" >
        <info text="VTK Mesh Writer (VTK)"/>
    </extension>
    
    <extension implements="::ioQVTK::ImageReaderService" >
        <info text="VTK Image Reader (VTK)"/>
    </extension>
    
    <extension implements="::ioQVTK::MeshReaderService" >
        <info text="VTK Mesh Reader (VTK)"/>
    </extension>
    
    <extension implements="::ioVTK::VtkPatientDBReaderService" >
        <info text="VTK Image Reader (VTK)"/>
    </extension>
    
    
</plugin>
