<plugin id="ioQVTK" class="::ioQVTK::Plugin" >
    <library name="ioQVTK" />

    <requirement id="io" />
    

    <!--    REGISTER_SERVICE( ::io::IReader , ::ioVTK::ImageReaderService , ::fwData::Image ) ;-->
    <point id="::ioQVTK::ImageReaderService">
        <implements>::io::IReader</implements>
        <implements>::fwData::Image</implements>
    </point>   
    
     <point id="::ioVTK::ImageWriterService">
        <implements>::io::IWriter</implements>
        <implements>::fwData::Image</implements>
    </point>  
    
     <point id="::ioQVTK::MeshReaderService" >
        <implements>::io::IReader</implements>
        <implements>::fwData::TriangularMesh</implements>
    </point>
    
       <point id="::ioVTK::MeshWriterService" >
        <implements>::io::IWriter</implements>
        <implements>::fwData::TriangularMesh</implements>
    </point>
    
</plugin>
