<plugin id="TutoQtConfigurations">
<extension id="tutoQtDataServiceConfig" implements="::fwData::Image">

    <object id="tutoQtDataServiceImage" type="::fwData::Image">
        <service type="::guiQt::aspect::IAspect" implementation="::guiQt::aspect::DefaultAspect" autoComChannel="no" >
            <name>SimpleNegato</name>
            <view uid="myDefaultView" autoStart="yes" />  
        </service>
    
        <service uid="menuBar" type="::guiQt::aspect::IMenuBar" implementation="::guiQt::aspect::DefaultMenuBar" autoComChannel="no" >
            <menus>
                <menu uid="menu_File" />
            </menus>
        </service> 
    
        <service uid="myDefaultView" type="::guiQt::view::IView" implementation="::guiQt::view::DefaultView" autoComChannel="no" >
            <views>
                <view uid="myRenderingTuto" autoStart="yes" />
            </views>
        </service>
           
        <service name="File" uid="menu_File" type="::guiQt::aspect::IMenu" implementation="::guiQt::aspect::DefaultMenu" autoComChannel="no" >
            <action uid="action_openFile"/>   
            <action uid="action_quit"/>
        </service>
    
        <service uid="action_openFile" name="OpenFile" type="::guiQt::action::IAction" implementation="::guiQt::action::StarterActionService"  autoComChannel="no" >
            <start uid="myReaderPathFile"/>  
        </service>   
        
        <service uid="action_quit" specialAction="QUIT"  name="Quit" type="::guiQt::action::IAction" implementation="::guiQt::action::QuitAction" autoComChannel="no" />
        <service uid="myReaderPathFile" implementation="::ioQVTK::ImageReaderService" type="::io::IReader" autoComChannel="no" />
        <service implementation="::qvtkSimpleNegato::RendererService" type="::fwQtRender::IRender" uid="myRenderingTuto" autoComChannel="yes" />
        
        <start type="::guiQt::aspect::IAspect" />
        <start type="::guiQt::aspect::IMenuBar" />
        <start type="::guiQt::aspect::IMenu" />
       
        <update uid="myRenderingTuto"/>
    
        <stop uid="myRenderingTuto"/>
        <stop uid="myReaderPathFile"/>
        <stop type="::guiQt::aspect::IMenu" />
        <stop type="::guiQt::aspect::IMenuBar" />
        <stop type="::guiQt::aspect::IAspect" />
    </object>
</extension>

</plugin>
