<plugin class="::ioQt::Plugin" id="ioQt">

    <library name="ioQt"/>

    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="io"/>
    <requirement id="guiQt"/>
   
    
    <point id="::ioQt::ImageReaderService">
        <implements>::io::IReader</implements>
        <implements>::fwData::Image</implements>
    </point>
    
   <point id="::ioQt::FileSelector">
        <implements>::guiQt::editor::IEditor</implements>
        <implements>::fwData::location::SingleFile</implements>
    </point>
    
     <point id="::ioQt::TriangularMeshReaderService">
        <implements>::io::IReader</implements>
        <implements>::fwData::TriangularMesh</implements>
    </point>
    
     <point id="::ioData::TriangularMeshWriterService">
        <implements>::io::IWriter</implements>
        <implements>::fwData::TriangularMesh</implements>
    </point>
    
    <extension implements="::ioQt::TriangularMeshReaderService" >
        <info text="TriangularMesh Reader"/>
    </extension>
    
    <extension implements="::ioQt::ImageReaderService" >
	<info text="PNG file Reader"/>
    </extension>
  
</plugin>