<plugin id="QtConfig">
<extension id="QtConfig" implements="::fwTools::Object">
		
	<object id="QtObject" type="::fwTools::Object">

		 <service type="::guiQt::aspect::IQtAspect" implementation="::guiQt::aspect::QtDefaultAspect" autoComChannel="no" >
	              	<name>Qt</name>
            	        <view uid="View"  autoStart="no" />
	         </service>

		<service uid="menuBar" type="::guiQt::aspect::IQtMenu" implementation="::guiQt::aspect::QtDefaultMenu" autoComChannel="no" >
    		</service>

		<service uid="View" type="::guiQt::view::IQtView" implementation="::guiQt::view::QtDefaultView" autoComChannel="no" >
    		</service>

		<start type="::guiQt::aspect::IQtAspect" />
		<start uid="menuBar"/>
		<start uid="View" />
		<stop type="::guiQt::aspect::IQtAspect" />

		</object>
	</extension>

</plugin>
