<plugin id="ioQXML" class="ioXML::Plugin">

    <library name="ioQXML"/>
    
    <requirement id="dataReg"/>
    <requirement id="servicesReg"/>
    <requirement id="io" />
   
    
    <!-- REGISTER_SERVICE( ::io::IReader , ::io::FwXMLPatientDBReaderService , ::fwData::PatientDB ) ; -->
    <point id="::ioXML::FwXMLPatientDBReaderService" >
        <implements>::io::IReader</implements>
        <implements>::fwData::PatientDB</implements>
    </point>
    
    
    <!-- REGISTER_SERVICE( ::io::IWriter , ::ioXML::FwXMLPatientDBWriterService , ::fwData::PatientDB ) ; -->
    <point id="::ioXML::FwXMLPatientDBWriterService" >
        <implements>::io::IWriter</implements>
        <implements>::fwData::PatientDB</implements>
    </point>
  
    <!-- User info like extensions -->  
    <extension implements="::ioXML::FwXMLPatientDBReaderService" >
        <info text="fwXML Reader (Ircad)"/>
    </extension>
    <extension implements="::ioXML::FwXMLPatientDBWriterService" >
        <info text="fwXML Writer (Ircad)"/>
    </extension>
   
</plugin>
